header {
  text-align: center;
  color: white;
  background-color: black;
  margin-bottom: 5px;
  font-size: xx-large;
}

.selection{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.selection button{
  margin: 0 20px;
  padding: 25px;
  border-radius: 25%;
  border: none;
  outline: none;
  cursor: pointer;
  background : rgb(41, 40, 40);
  font-size: 33px;
  color: orange;
}